* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* the cap of the shoe box: the large brown trapeziod */
.shoe-cap {
  width: 1050px;
  height: 100%;
  border-top: 300px solid #c49463;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  position: relative;
  margin-bottom: 10px;
}
/* the small black rectangle  */
.small-trap {
  position: absolute;
  top: -300px;
  left: -60px;
  width: 1170px;
  height: 0%;
  border-top: 30px solid black;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}
.title {
  position: absolute;
  top: -200px;
  left: 330px;
}

/* container for the shoe: shoe box */
.outer-shoe-container {
  border: 2px solid black;
  background-color: #c49463;
}
.inner-shoe-container {
  display: flex;
  border: 2px solid black;
  margin: 20px;
}

/* the img of the left side of the shoe */
.left-shoe {
  margin-right: -11%; /* adjust the gap between 2 shoes */
  height: auto;
  width: 550px;
  position: relative;
}
/* the input box for the image */
.img-input {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  height: 150px;
  left: 270px;
  top: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* opacity: ; */
}

/* the img of the right side of the shoe */
.right-shoe {
  height: auto;
  width: 550px;
  position: relative;
}
/* the output container */
.output {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  height: 150px;
  top: 200px;
  left: 565px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .shoe-cap {
    width: 860px;
  }

  .small-trap {
    width: 980px;
  }

  .title {
    left: 240px;
  }

  .left-shoe,
  .right-shoe {
    width: 450px;
  }

  .img-input{
    top: 150px;
    left: 200px;
  }

  .output {
    top: 150px;
    left: 450px;
  }
}
