* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* the cap of the shoe box: the large brown trapeziod */
.shoe-cap {
  width: 1130px;
  height: 100%;
  border-top: 300px solid #c49463;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  position: relative;
  margin-bottom: 10px;
}
/* the small black rectangle  */
.small-trap {
  position: absolute; /*relative to the shoe-cap*/
  top: -300px;
  left: -60px;
  width: 1250px;
  height: 0%;
  border-top: 50px solid black;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}
.title {
  position: absolute; /*relative to the shoe-cap*/
  top: -200px;
  left: 370px;
}

/* container for the shoe: shoe box */
.outer-shoe-container {
  border: 2px solid black;
  background-color: #c49463;
}
.inner-shoe-container {
  display: flex;
  border: 2px solid black;
  margin: 20px;
}

/* the img of the left side of the shoe */
.left-shoe {
  margin-right: -11%; /* adjust the gap between 2 shoes */
  height: auto;
  width: 600px;
  position: relative;
}
/* the input box for the image */
.drag-drop {
  position: absolute; /*relative to the left-shoe*/
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  height: 150px;
  left: 305px;
  top: 220px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}

/* the img of the right side of the shoe */
.right-shoe {
  height: auto;
  width: 600px;
  position: relative;
}
/* the output container */
.output {
  position: absolute; /*relative to the right-shoe*/
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  height: 150px;
  top: 220px;
  left: 620px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .shoe-cap {
    width: 950px;
  }

  .small-trap {
    width: 1070px;
  }

  .title {
    left: 300px;
  }

  .left-shoe,
  .right-shoe {
    width: 500px;
  }

  .drag-drop {
    top: 215px;
    left: 235px;
    width: 180px;
    height: 100px;
  }

  .output {
    top: 215px;
    left: 510px;
    width: 180px;
    height: 100px;
  }
}
